body, html {
    margin: 0;
    padding: 0;
}
/*  Header Section  */
.top {
    background-color: #1F2937;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    color: white;
    height: 500px;
    padding: 0px 200px 0px 200px;
    border: none;
}

/*  Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-size: 24px;
}

.headerLinks {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

/*  Header Information  */
.topSection {
    display: flex;
    justify-content: center;
}

.awesomeWebsite {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 2px;
}

.titleInfo {
    font-size: 18px;
    color: #E5E7EB;
}

.mainSignUp {
    border: none;
    border-radius: 8px;
    padding: 6px 24px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
}

.placeHolderImg1 {
  border: 1px solid #ddd;
  display: grid;
  place-items: center;
  font-size: 10px;
  width: 800px;
  background-color: beige;
  color:black
}

/* Images Section */
.bodyInfo {
    text-align: center;
    height: 600px;
    align-items: center;
}

.fourImageContainer {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    width: 200px;
}

img {
    border: 3px solid black;
    border-radius: 30px;
    width: 200px;
    height: 200px;
}

.randInfo {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.imgInfo {
    font-family: Roboto;
    font-size: 20px;
}

/* QUOTE */
.QuoteSection {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QuoteContainer {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.Quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.QuoteSpeaker{
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}